

 header {
   padding: 1rem 1.5rem;
   overflow-x: hidden;
 }

 header .strong {
   font-weight: bold;
 }


 header .desktop {
   display: flex;
   align-items: center;
 }

 header .desktop .nav {
   display: flex;
   flex-direction: row;
   align-content: right;
   min-width: 600px;
 }

 header .logo {
   display: flex;
   flex-grow: 1;
   align-items: center;
   width: 5rem;
 }

 header .logo img {
   margin-right: .5rem;
 }

 header li {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   padding-right: 1rem;
 }

 header li:last-child {
   padding-right: 0;
 }

 header .mobile {
   display: none;
 }

 #second {
 	width: 100%;
 	background-color: hsl(240, 80%, 90%);
 	display: flex;
 	position: relative;
 	margin: auto;
 	padding-top: 32px;
  border-top: white;
 }

 #second h2 {
 	font-weight: bold;
 }


 #learn {
 	width: 100%;
 	background-color: hsl(360, 0%, 98%);
 	display: flex;
 	align-content: center;
 	z-index: 0;
 	position: relative;
  border-bottom: hsl(240, 80%, 90%);
 }

 .banner {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
 	padding: 32px 40px 32px 24px;
 }

 .learn {
 	width: 40%;
 	margin-right: 24px;
 	margin-left: 40px;
 	margin-top: 0px;
 	display: flex;
 	align-items: center;
 	color: gainsboro;
 	text-align: left;
 }


 .button {
 	padding-top: 8px;
 	padding-bottom: 8px;
  margin-top: 1.5rem;
 	background-color: #515151;
 	color: white;
 	display: block;
 	position: inherit;
 	bottom: 150px;
 	width: 290px;
 	font-family: helvetica;
 	text-align: center;
 }

 #button:hover {
   background-color: hsl(240, 80, 90%);
 }

 .practice {
   width: 60%;
   flex-direction: column;
   margin-left: 24px;
   text-align: left;
   margin-right: 24px;
   color: #4f4a4a;
 }

 .practice h2 {
   padding-top: 36px;
   padding-bottom: 13px;
 }

 .column {
   width: 40%;
 	 margin-left: 16px;
   flex-direction: column;
 	 font-family: helvetica;
 	 align-content: left;
 	 display: flex;
 	 border-left: 1px #D6DBDF solid;
   justify-content: space-between;
 }


 .column img {
   width: 148px;
 	height: 148px;
 }

.column a {
  color: hsl(200, 80%, 50%);
}

 .column p {
  color: #5DADE2;
 	font-weight: bold;
 	font-size: 13px;
  padding: 16px;
 }


 .image-right {
   display: flex;
   padding-top: 16px;
   padding-bottom: 30px;
   color: #4f4a4a;
 }

 .orientation {
 	display: flex;
 	text-align: left;
 	padding-left: 16px;
 	color: #4f4a4a;
 }

 .campus {
 	display: flex;
 	text-align: left;
 	padding-left: 16px;
 	padding-bottom: 8px;
 	color: #4f4a4a;
 }


 .guest {
 	display: flex;
 	padding-top: 16px;
 	text-align: left;
 	padding-left: 16px;
 	color: #4f4a4a;
   padding-right: 24px;
   background-color: gainsboro;
 }


 #cubes {
  width: 100%;
 	background-color: white;
 	margin: auto;
 	font-family: helvetica;
 	padding-top: 32px;
 	padding-bottom: 10px;
 }


 .boxcubes {
   margin: auto;
	 margin-bottom: 32px;
 }


 .boxcubes h4 p {
  font-weight: normal;
 	font-size: 14px;
 	text-align: left;
 }


 .boxcubes h3 {
  font-weight: bold;
 	font-size: 16px;
 	text-align: left;
 }


 .top {
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   margin-bottom: 3rem;
   color: #4f4a4a;
 }


 .top-image {
   max-width: 25%;
   margin-right: 32px;
 }


 .toptext {
   background-color: hsl(240, 80%, 90%);
   height: 120px;
   padding-top: 1.5rem;
   padding-left: 1.5rem;
   justify-content: space-between;
 }


 .bottom {
   display: flex;
   justify-content: center;
   margin-top: 32px;
   margin-bottom: 32px;
   color: #4f4a4a;
 }


 .bottom-image {
   max-width: 25%;
   margin-right: 32px;
   margin-top: 16px;
 }


 .bottomtext {
   background-color: hsl(240, 80%, 90%);
   height: 120px;
   padding-top: 1.5rem;
   padding-left: 1.5rem;
 }


 #thesis-top {
   display: inline-block;
   justify-content: center;
   text-align: center;
   margin: auto;
 }


 .thesis-body {
   display: flex;
   margin-top: 32px;
   margin-bottom: 24px;
   margin-left: 24px;
 }


 .thesis-body-right {
  display: flex;
  flex-direction: column;
  background-color: white;
 	margin-right: 16px;
 	margin-bottom: 32px;
  width: 90%;
 }

 .thesis-body-right img {
   width: 148px;
   height: 148px;
   padding-right: 16px;
   padding-bottom: 16px;
   padding-left: 16px;
 }

 .thesis-vid {
   color: #4f4a4a;
   text-align: left;
   width: 96%;
   margin-right: 0;
 }

 .thesis-vid h3 {
   padding-top: 18px;
   padding-bottom: 8px;
 }

 .thesistext {
   text-align: left;
   color: #4f4a4a;
 }


 .fisma-main {
   background-color: #E5E7E9;
 	 width: 400px;
 	 padding-top: 16px;
   display: flex;
 }


 .fisma-sub {
   text-align: left;
   padding-left: 16px;
   color: #4f4a4a;
 }


 .nythen-main {
 	 margin-top: 16px;
   display: flex;
   flex-direction: column;
 }


 .nythen-sub {
   display: flex;
   flex-direction: row;
   text-align: left;
   margin-left: 16px;
 	 color: #4f4a4a;
 }


 nav {
 	background-color: white;
 	color: #F404040;
 	display: flex;
 	margin: auto;
 	justify-content: space-between;
 }


 .nav {
 	display: flex;
 	justify-content: space-around;
   align-self: flex-end;
 }


 footer {
 	 display: inline-block;
   text-align: left;
 	 margin-top: 32px;
   width: 100%;
 	 height: 64px;
 	 background-color: white;
 	 margin-left: 24px;
 	 font-family: helvetica;
 	 font-size: 12px;
 	 color: gray;
   align-content: center;
 }


 footer nav {
 	margin-right: 24px;
 	color: gray;
  justify-content: flex-end;
  align-self: flex-start;
 }


 h1 {
 	font-family: helvetica;
 	font-size: 35px;
 	color: #4f4a4a;
 }


 h3 {
 	font-family: helvetica;
 	font-size: 20px;
 	font-weight: normal;
 	color: black;
 }


 h2 {
 	font-family: helvetica;
 	font-size: 27px;
 	font-weight: normal;
 	color: #515151;
 }


 body {
 	font-family: helvetica, sans-serif;
 	text-align: center;
 	margin: auto;
  background-color: white;
 }


 header h1 {
 	color: white;
 	font-size: 18px;
 }

  header img {
 	margin-left: 2rem;
 }

 h1 span {
 	color: black;
 	font-size: 18px;
 }

 h4 {
   font-size: 14px;
   font-weight: normal;
   text-align: left;
   padding-top: 1.5rem;
 }

 a {
 	padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
 	color: #404040;
 	text-decoration: none;
 }


 ul li {
 	display: inline-block;
 	list-style-type: none;
 	font-family: helvetica;
 	font-size: .9rem;
 }

 p {
 	font-size: 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
 }

 img {
 	max-width: 100%;
 }

 /* Media Queries */

 @media only screen and (max-width: 550px) {
   header .desktop {
     display: none;
   }
   header .mobile {
     display: block;
     width: 100%;
   }
   header .mobile ul {
     display: flex;
     justify-content: space-around;
     align-items: center;
   }
   .logo {
     justify-content: center;
   }
   .logo span {
     display: none;
   }
   nav {
     display: none;
   }
 }

 @media only screen and (max-width: 470px) {
   header img {
     display: none;
 }
 }

 @media only screen and (max-width: 470px) {
   header h1 {
     display: none;
 }
 }


 @media only screen and (max-width: 470px) {
   #pageborder {
   background-color: white;
 	 margin-top: 64px;
 }
 }


 @media only screen and (max-width: 240px) {
   .mobile {
   display: block;
 }


   .desktop {
   display: none;
 }
 }


 @media only screen and (min-width: 240px) {
   .desktop {
   display: block;
 }
 	.mobile {
 	display: none;
 }
 }


 @media only screen and (max-width: 240px) {
 div .mobile {
 	width: 100%;
 	background-color: white;
 	height: 64px;
 	text-align: left;
 }
 }

 @media only screen and (max-width: 240px) {
   .mobile img {
 	 display: inline-block;
 	 position: fixed;
  }
  }

 @media only screen and (max-width: 240px) {
 div .mobile ul li {
 	display: inline-block;
 	justify-content: flex-start;
 }
 }


 @media only screen and (max-width: 240px) {
 #learn .banner {
    display: none;
 }
 }


 @media only screen and (max-width: 470px) {
 #learn  {
    padding-bottom: 88px;
 		margin-top: 0;
 }
 }


 @media only screen and (max-width: 470px) {
   .top-image {
    display: none;
 }
 }


 @media only screen and (max-width: 470px) {
 #pageborder #cubes {
     background-color: white;
 }
 }


 @media only screen and (max-width: 470px) {
 .boxcubes {
     background-color: white;
 }
 }


 @media only screen and (max-width: 470px) {
 .mobile-grid p {
 	background-color: lightgray;
 	font-size: 20px;
 	padding-top: 12px;
 	padding-bottom: 12px;
 	margin-left: 12px;
 	margin-right: 12px;
 	text-align: left;
 	margin-bottom: 8px;
 }
 }


 @media (max-width: 470px) {
 	.cubes-mobile {
   display: block;
 }
   .boxcubes {
   display: none;
 }
 }


 @media (min-width:480px) {
   .boxcubes {
    display: block;
 }
 	.cubes-mobile {
 	display: none;
 }
 }


 @media only screen and (max-width: 470px) {
    .thesis-body-right {
      display: none;
  }
  }


  @media only screen and (max-width: 470px) {
    .thesistext {
      display: none;
  }
  }


  @media only screen and (max-width: 470px) {
  #pageborder  #thesis-main  {
      background-color: white;
      width: 100%;
  }
  }


  @media only screen and (max-width: 470px) {
  #pageborder  #thesis-top {
      background-color: white;
      top: 0;
  }
  }


  @media only screen and (max-width: 470px) {
  #thesis-wrapper #thesis-body-right {
    background-color: white;
  }
  }


  @media only screen and (max-width: 470px) {
 footer nav {
   display: none;
 }
 }
